*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	margin: 0;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
}

ul{
	list-style-type: none;
	margin:0;
}

a, a:hover{
	text-decoration: none;
	outline: none;
}

div.clear{clear: both;}

.contain{
	width: 100%;

}

.contain .contain_head{
	width: 100%;
	height: 600px;
	background-color: #E1D6CB;
	padding-bottom: 40px;
	border-bottom: 1px solid  #510000;
}

.contain_head .head{
	width: 80%;
	margin: 0 auto;
	height: 100%;
	padding-top: 0.7%;
}

.head .top_head{
	width: 100%;
	height: 84px;
}

.top_head .logo_left{
	width: 60%;
	float: left;
	height: 100%;
	padding-top: 16px;
}

.logo_left h2{
	color: #333333;
	font-size: 26px;
	font-variant: small-caps;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
}

.logo_left p{
	color: #333333;
	font-size: 14px;
	font-variant: small-caps;
	font-style: italic;
	line-height: normal;
	font-weight: normal;
}

.top_head .logo_right{
	width: 40%;
	float: left;
	height: 100%;
}

.logo_right .search{
	width: 70%;
	padding-top: 25px;
	float: right;
}

.logo_right .search input[type="text"]{
	width: 62%;
	float: left;
	border-radius: 6px;
	height: 25px;
	padding: 5px;
	padding-left: 8px;
	background-color: #510000;
	color: #fff;
	border: none;
}

.logo_right a{
	text-decoration: none;
	display: inline-block;
	color: rgb(81,0,0);
	float: right;
	font-size: 12px;
	cursor: pointer;
	padding-top: 30px;
	padding-right: 12px;
}

.logo_right .search button{
	width: 36%;
	float: right;
	border-radius: 6px;
	height: 25px;
	padding: 4px 6px;
	font-size: .7em;
	font-weight: 300;
	background-color: #510000;
	color: #fff;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
}


/*Second Header*/
.head .second_head{
	width: 100%;
	height: 45px;
	background-color: #510000;
	margin-bottom: 3%;
}

.second_head ul{
	width: 100%;
	padding-top: 15px;
	padding-left: 18px;
}

.second_head ul li{
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	/*margin-left: 2px;*/
}

.second_head ul li a{
	display: block;
	text-transform: uppercase;
	font-size: 13px;
	color: #fff;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.second_head ul li a:hover, .second_head ul li a.active{
	color: #FB0000;
}
/*/Second Header*/

/*third Header*/
.head .third_head{
	width: 100%;
	height: 420px;
}

.carousel-nav .carousel-cell.is-nav-selected {
  background: #510000;
}

.third_head .slide_left{
	width: 50%;
	height: 100%;
	float: left;
	overflow: hidden;
}

.slide_left .slide_image{
	width: 100%;
	height:273px;
	border: 5px solid #fff;
	margin-bottom: 6%;
}

.slide_left .slide_image .sliding{
	width: 100%;
	height:100%;
}

.slide_left .slide_image .sliding img{
	width: 100%;
	height:100%;
}

.slide_left .slide_nav{
	width: 100%;
	height:75.6px;
}

.slide_left .slide_nav .mag{
	width: 30%;
	 height: 100px;
	 overflow: hidden;
}

.slide_left .slide_nav .mag img{
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: 22px;
}


.third_head .slide_right{
	width: 46%;
	height: 100%;
	float: right;
}

.slide_right .school_description{
	width: 100%;
	height: 150px;
	margin-bottom: 18px;
}

.school_description .school_img{
	width: 35%;
	float: left;
	height: 100%;
	border: 1px solid #fff;
	border-radius: 4px;
}

.school_img img{
	width: 94%;
	height: 94%;
	margin: 3%;
	float: left;
	border-radius: 4px;
}

.school_description .school_welcome{
	width: 62%;
	float: right;
	height: 100%;
	padding-right: 0px;
	text-align: left;
}

.school_welcome h3{
	margin: 0 0 15px 0;
	padding: 0 0 10px 0;
	border-bottom: 1px solid #FFFFFF;
	font-size: 16px;
	font-weight: normal;
	font-style: italic;
	line-height: normal;
	color: #333333;
}

.school_welcome p{
	font-size: 13px;
	line-height: 1.6em;
	color: #555;
	text-align: justify;
}

.slide_right .school_reputation{
	width: 100%;
	height: 180px;
	text-align: left;
}

.school_reputation h3{
	margin: 0 0 15px 0;
	padding: 0 0 10px 0;
	border-bottom: 1px solid #FFFFFF;
	font-size: 16px;
	font-weight: normal;
	font-style: italic;
	line-height: normal;
	color: #333333;
}

.school_reputation .repute_list{
	width: 30%;
	height: 100%;
	float: left;
}

.repute_list p{
	font-size: 12px;
	color: #510000;
	line-height: normal;
	padding: 4px 0;
}

.school_reputation .quote{
	width: 68%;
	height: 100%;
	float: right;
	border-radius: 4px;
	border: 1px solid #fff;
}

.quote .slide_quote{
	width: 100%;
	height: 100%;
}

.slide_quote .quoted_text{
	width: 100%;
	height:100%;
	padding: 4px 12px 12px 12px;
	overflow-y: scroll;
}

.quoted_text p{
	font-size: 14px;
	color: #510000;
	line-height: normal;
	font-style: italic;
}

.quoted_text h6{
	float: right;
	font-weight: bold;
}
/*/third Header*/
/*/Head*/

/*The Content*/
.contain .content{
	width: 80%;
	margin: 0 auto;
	padding-top: 40px;
}

/*Content Left*/
.content .content_left{
	width: 68%;
	/*height: 150px;*/
	padding-right: 10px;
	/*border: 1px solid red;*/
	display: inline-block;
	vertical-align: top;
}

.content_left .content_main{
	width: 100%;
	padding-bottom: 12px;
	border-bottom: 1px solid #D8D8D8;
}

.content_main h2{
	padding: 0 0 10px 4px;
	border-bottom: 1px solid #D8D8D8;
	font-size: 18px;
	font-weight: normal;
	font-style: italic;
	line-height: normal;
	color: #333333;
}

.content_main .event{
	width: 49%;
	/*height: 220px;*/
	/*border: 1px solid #000;*/
	padding: 12px 8px 0 8px;
	display: inline-block;
	vertical-align: top;
	/*border-bottom: 1px solid red;*/
	/*float: left;*/
}

.event h2{
	height: 50px;
	padding: 0 0 10px 4px;
	border-bottom: 1px solid #D8D8D8;
	font-size: 16px;
	font-weight: normal;
	font-style: italic;
	line-height: normal;
	color: #333333;
}


.event .event_img{
	width: 100%;
	height: 136px;
	padding-top: 8px;
	border: 4px solid #000;
	border-style: double;
	border-top: none;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

.event_img img{
	width: 100%;
	height: 136px;
	padding-bottom: 16px;
	background: url("../images/shadow.gif") bottom center no-repeat;
}

.event .event_text{
	width: 100%;
	padding-top: 12px;
}

.event_text p{
	color: rgba(85,85,85,.9);
	font-size: .82em;
	text-align: justify;
}

.event_text a{
	display: block;
	text-align: right;
	padding: 8px 16px 0 0;
	color: #510000;
	font-weight: normal;
	font-size: 13px;
	cursor: pointer;
}

.content_left .content_news{
	width: 100%;
	padding: 30px 10px 0 0;
	border-bottom: 1px solid #D8D8D8;
}

.content_news .news_item{
	width: 100%;
	padding: 12px 0;
	border-bottom: 1px solid #D8D8D8;
}

.content_news h2, .news_item h2{
	padding: 0 0 10px 4px;
	font-size: 16px;
	font-weight: normal;
	font-style: italic;
	line-height: normal;
	color: #333333;
}

.content_news h2{
	font-size: 18px;
}

.news_item p{
	padding: 0 0 10px 4px;
	font-size: 16px;
	font-weight: normal;
	font-style: italic;
	line-height: normal;
	color: #333333;
}

.news_item a{
	display: block;
	line-height: normal;
	color: #510000;
	font-size: 13px;
	font-weight: normal;
	text-align: right;
	padding-right: 10%;
	cursor: pointer;
}	
/*Content Right*/
.content .content_right{
	width: 30%;
	display: inline-block;
	vertical-align: top;
}

.content_right .mission, .content_right .rep{
	width: 100%;
	text-align: left;
	padding-bottom: 16px;
}

.mission h2, .rep h2{
	padding: 0 0 10px 4px;
	border-bottom: 1px solid #D8D8D8;
	font-size: 16px;
	font-weight: normal;
	font-style: italic;
	line-height: normal;
	color: #333333;
}

.mission p{
	color: #333333;
	font-size: 13px;
	padding-top: 10px;
}

.rep .rep_item{
	width: 100%;
	height: 120px;
	border-bottom: 1px solid #D8D8D8;
	padding: 12px 0;
}

.rep_item .rep_img{
	width: 34%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	border: 1px solid #D8D8D8;
}

.rep_item .rep_img img{
	width: 90%;
	height: 90%;
	margin: 5%;
}

.rep_item .rep_text{
	width: 64%;
	height: 100%;
	padding: 4px;
	display: inline-block;
	vertical-align: top;
}

.rep_text h3{
	line-height: normal;
	color: rgba(85,85,85,.9);
	font-size: 13px;
	padding: 8px 0 8px 0;
}

.rep_text h4{
	line-height: normal;
	color: rgba(85,85,85,.9);
	font-size: 13px;
	font-weight: normal;
	padding-bottom: 12px;
}

.rep_text a{
	line-height: normal;
	display: block;
	color: rgb(106,0,47);
	font-size: .82em;
	cursor: pointer;
}
/*/Content Right*/

/*/The Content*/

/*footer*/
.contain .footer{
	width: 100%;
	height: 280px;
	background-color: #222222;
}

.footer .foot{
	width: 80%;
	margin: 0 auto;
	height: 100%;
	padding: 24px 0;
}

.foot .foot1{
	width: 20%;
	height: 170px;
	display: inline-block;
	vertical-align: top;
}

.foot1 h2, .foot2 h2, .foot3 h2{
	color: #bbb;
	padding-bottom: 12px;
	font-size: 16px;
}

.foot1 p a, .foot2 p, .copy p{
	color: #bbb;
	padding-bottom: 14px;
	font-size: 14px;
	line-height: 1.2em;
}

.foot1 p{padding-bottom: 12px;}

.foot .foot2{
	width: 32%;
	height: 170px;
	display: inline-block;
	vertical-align: top;
	padding-right: 8%;
	border-right: 1px solid #bbb;
}

.foot .foot3{
	width: 33%;
	height: 170px;
	display: inline-block;
	vertical-align: top;
	padding-left: 4%;
}

.foot3 ul li{
	display: inline-block;
	vertical-align: top;
}

.foot .copy{
	width: 100%;
	height: 20%;
	margin-top: 4%;
	border-top: 1px solid #bbb;
	padding-top: 12px;
	text-align: center;
}
/*/footer*/

/*Responsive*/
@media(max-width: 1025px){
	.contain_head .head{width: 90%;}
	.contain .content{width: 90%;}
	.footer .foot{width: 90%;}
}

@media(max-width: 945px){
	.event h2{height: 70px;}
	.foot .foot2{width: 41%;padding-right: 4%;}
	.foot .foot3{width: 30%; padding-left: 2%;}
}

@media(max-width: 800px){
	.contain_head .head{width: 98%;}
	.contain .content{width: 98%;}
	.footer .foot{width: 98%;}
	.logo_left h2{font-size: 22px;}
	.event_img img{padding-bottom: 22px;}
	.school_welcome h3{
		margin: 0 0 8px 0;
		padding: 0 0 6px 0;
	}
}

@media(max-width: 700px){
	.contain_head .head{width: 96%;}
	.contain .content{width: 96%;}
	.footer .foot{width: 96%;}
	.third_head .slide_left{width: 96%; margin:0 2%;}
	.third_head .slide_right{width: 96%; margin:0 2%;padding-top: 5%;}
	.contain .contain_head{height: 1010px;}
	.quoted_text p{line-height: 1.6em;}
	.repute_list p{padding: 5px 0;}
	.content .content_left{width: 96%; margin: 0 2%;}
	.content .content_right{width: 96%; margin: 0 2%;}
	.mission h2, .rep h2{font-size: 18px;}
	.rep .rep_item{height: 140px;}
	.contain .footer{height: 320px;}
	.foot .foot1{width: 30%;}
	.foot .foot2{width: 68%;border:none;}
	.foot .foot3{width: 100%; height: 60px;}
}

@media(max-width: 540px){
	.logo_left h2{font-size: 19px;}
	.logo_right .search{display: none;}
	.top_head .logo_left{width: 80%}
	.top_head .logo_right{width: 20%}
}

@media(max-width: 490px){
	.content_main .event{width: 100%;}
	.event h2{height: 40px;}
}

@media(max-width: 410px){
	.carousel-nav.slide_nav{display: none;}
	.head .third_head{height: 320px;}
	.contain .contain_head{height: 890px}
	.rep_item .rep_img{width: 46%;}
	.rep_item .rep_text{width: 50%;}
	.contain .footer{height: 520px;padding-left: 8px;}
	.foot .foot1{width: 100%;}
	.foot .foot2{width: 100%;}
}

@media(max-width: 340px){
	.school_reputation h3{margin-top: 40px!important;}
	.contain .contain_head{height: 920px}
	.school_reputation .repute_list{width: 35%;}
	.school_reputation .quote{width: 62%;}
}
/*/Responsive*/













